---
version: 2
order: 8
title: Examples
---


markdown:
  Savon comes with a few [commented and easy to read integration (example) specs](https://github.com/savonrb/savon/tree/master/spec/integration)
  for you to play with.
