---
title: Version 2
---


.status.stable
  p Status: Stable. Please use this version.

markdown:
  Savon version 2.0 was released on December 18, 2012. It introduced major changes to the public interface.
  Instead of exposing internal objects, the new interface is based on a defined set of options. This allows
  us to change the internals without breaking your code.


  ### Supported Ruby versions

  * MRI 1.8.7, 1.9.2, 1.9.3 and 2.0
  * Ruby Enterprise Edition
  * JRuby (1.8 and 1.9 mode)
  * Rubinius (1.8 and 1.9 mode)
