---
version: 1
order: 8
title: Additional resources
---


markdown:
  **Are you stuck?**

  Then you're probably looking for someone to help. The [Mailing list](https://groups.google.com/forum/#!forum/savonrb)
  is a good place to search for useful information and ask questions. Please make sure to post your
  questions to the Mailing list instead of sending private messages so others can benefit from these
  information.

  **Did you run into a problem?**

  So you think something's not working like it's supposed to? Or do you need a feature that Savon
  doesn't support? Take a look at the [open issues](https://github.com/savonrb/savon/issues)
  over own Github to see if this has already been reported. If it has not been reported yet,
  please open an issue and make sure to leave useful information to debug the problem.

  **Anything missing in this guide?**

  Please [fork this guide](https://github.com/savonrb/savonrb.com) on Github and help to improve it!

  **Do you want to help out?**

  * Answer questions on the [Mailing list](https://groups.google.com/forum/#!forum/savonrb) or
    [Stack Overflow](http://stackoverflow.com/search?q=ruby+soap)
  * Improve the documentation by writing an article or tutorial
  * You could also help out with [open issues](https://github.com/savonrb/savon/issues)
  * Or [test patches](https://github.com/savonrb/savon/pulls) and provide your feedback

  **Are you looking for updates?**

  If you're on Twitter, make sure to follow [@savonrb](http://twitter.com/savonrb) for updates
  on bug fixes, new features and releases.
