<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="a9tZgn_xhbJMVCwGnADIIkv0j4rCpRIMgHfqHpKhc5w">
    <link rel="stylesheet" href="{{ '/assets/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/fontawesome/css/fontawesome.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/fontawesome/css/solid.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/fontawesome/css/brands.min.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header_inner">
          <div class="header_title">
            <a id="a-title" href="{{ '/' | relative_url }}">
              <span class="site_title">{{ site.title | default: site.github.repository_name }}</span>
            </a>
            <p class="site_tagline">{{ site.description | default: site.github.project_tagline }}</p>
          </div>
          <section id="downloads">
            <a href="{{ site.github.repository_url | default: 'https://github.com/savonrb/savon' }}" class="btn btn-github"><i class="fa-brands fa-github"></i> GitHub</a>
            <a href="https://rubygems.org/gems/savon" class="btn"><i class="fa-solid fa-gem"></i> RubyGems</a>
          </section>
        </div>
      </div>
    </header>

    <div class="container">
      <main id="main_content">
        {{ content }}
      </main>
      <footer class="footer">
        <div class="footer_hero">
          <span class="footer_name">Savon</span>
          <span class="footer_tagline">{{ site.description }}</span>
        </div>
        <div class="footer_element">
          <p class="footer_label">Read</p>
          <a href="https://www.rubydoc.info/gems/savon/">Documentation</a>
          <a href="https://github.com/savonrb/savon/blob/main/CHANGELOG.md">Changelog</a>
          <a href="http://rubygems.org/gems/savon">Releases</a>
        </div>
        <div class="footer_element">
          <p class="footer_label">Contribute</p>
          <a href="https://github.com/savonrb/savon">Source Code</a>
          <a href="https://github.com/savonrb/savon/issues">Issues</a>
          <a href="https://stackoverflow.com/questions/tagged/savon">StackOverflow</a>
        </div>
        <div class="footer_element">
          <p class="footer_label">Maintainers</p>
          <a href="https://www.petercai.com">Peter Cai</a>
          <a href="https://github.com/rubiii">Daniel Harrington</a>
        </div>
      </footer>
    </div>
  </body>
</html>
